main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main {
  overflow: hidden;
}

#logo {
  margin: 0 0 24px 0;
  color: map-get( $color, light );
}

.input-field.col {
  padding: 0;

  label {
    left: 0;
  }
}

.row-content {
  display: flex;
  flex-flow: row;

  &.aligned {
    align-items: center;
  }
  &.spaced {
    justify-content: space-between;
  }
}

.column-content {
  display: flex;
  flex-flow: column;
}