.btn-icon {
  padding: 0;
  height: 36px;
  width: 36px;
  border-radius: 50%;

  .material-icons {
    font-size: 1.5rem;
  }
  // &.btn-flat:focus {
  //   background-color: transparent; 
  // }
  &.btn-flat:disabled {
    background-color: transparent !important;

    .material-icons {
      color: #cdcdcd;
    }
  }
}