{{#each this}}
  <li data-uid="{{uid}}" class="home-sidebar_list-item home-sidebar_contact">
    <div class="row-content spaced">
        <strong>{{name}}</strong>
        <span>{{date}}</span>
    </div>
    <p>{{message}}</p>
  </li>
{{/each}}