{{#each this}}
  <li class="home-main_message-row row-content {{#if from}}contact{{else}}user{{/if}}">
    <div class="home-main_message row-content inline">
      <p>{{message}}</p>
      <span class="time">{{date}}</span>
    </div>
  </li>
{{else}}
  <li class="home-main_message-empty">Não há nenhuma mensagem ainda</li>
{{/each}}